.ticker-track {
  display: flex;
  flex-wrap: nowrap;
  gap: 100px;
  width: max-content;
  will-change: transform;
}

.animate-scroll {
  animation: scroll-left 250s linear infinite;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
